td, tr{
    border: 1px solid black;
    padding: 18px;
    text-align: center;
}
th{
    background-color: rgb(238, 238, 238);
}
table{
    border-collapse: collapse;
    width: 100%;
}
.titulo{
    text-align: center;
}